<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{:config('title.main_page')}</title>
    <style>
        div{
            float:left;
            margin-right:20px;
        }
        .user {
            float:right;
        }
    </style>
</head>
<body>
    <div><a href="{:url('Role/addRole')}">添加角色</a></div>
    <div><a href="{:url('Role/getRoleList')}">获取角色列表</a></div>
    <div><a href="{:url('User/bindRole')}">为用户绑定角色</a></div>
    <div><a href="{:url('url/addUrl')}">添加url</a></div>
    <div><a href="{:url('url/getUrlList')}">获取url列表</a></div>

    <div><a href="{:url('role/bindUrl')}">为角色分配url</a></div>
    {if session($prefix . 'userinfo')['username'] == 'admin'}
    <div><a href="{:url('user/authorizeUser')}">授予权力</a></div>
    <div><a href="{:url('user/unauthorizeUser')}">回收权力</a></div>
    {/if}
    {if session($prefix . 'userinfo')['username'] == 'admin'}
        <div class="user"><a href="{:url('user/register')}">注册用户</a></div>
    {/if}

    <div class="user">您好，{:session($prefix . 'userinfo')['username']}，欢迎回来&nbsp;&nbsp;<a href="{:url('User/logout')}">退出登录</a></div>
</body>
</html>